.small-image {
    position: relative;
    width: 12vw;
    height: 28vh;
    .small-image-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        animation: top-bottom-img 2000ms ease;
        .small-img {
            position: absolute;
            width: 12vw;
            height: 28vh;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}